source src_table_name
{
	type			= mysql
	sql_host		= localhost
	sql_user		= root
	sql_pass		= password
	sql_db			= table_name
	sql_port		= 3306
	sql_attr_string 	= column_name
	sql_ranged_throttle	= 0
	sql_query		= SELECT * FROM table_name
	sql_query_info		= SELECT id, column_name FROM table_name WHERE id=$id
	sql_range_step		= 10000
}

index ind_stf
{
	source			= src_table_name
	path			= /path/to/index/table_name
	docinfo			= extern
	mlock			= 0
	morphology		= none
	min_word_len		= 1
	charset_type		= utf-8
	ngram_len		= 3
	html_strip		= 0
}

indexer
{
	mem_limit		= 1024M
}

searchd
{
	listen			= 9312
	listen			= 9306:mysql41
	log			= /path/to/searchd.log
	query_log		= /path/to/query.log
	read_timeout		= 5
	client_timeout		= 300
	max_children		= 30
	pid_file		= /path/to/searchd.pid
	max_matches		= 1000
	seamless_rotate		= 1
	preopen_indexes		= 1
	unlink_old		= 1
	mva_updates_pool	= 1M
	max_packet_size		= 8M
	max_filters		= 256
	max_filter_values	= 4096
	max_batch_queries	= 32
	workers			= threads
}
