{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Document View" %}{% endblock %}

{% block body %}
<div class="breadcrumb">
    {% trans "You are here: " %}
    <a href="{% url taw_home %}">{% trans "Workbench" %}</a> &gt;
    <a href="{% url document doc_id %}">{{ filename }} </a>
</div>

<div class="container">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="row">
        <div class="span10">
            <h2>{% trans "Plain Text View" %}</h2>
            <span class="label label-info">{{ filename }}</span><br>
            {{ text }}
        </div>
        <div class="span4">
            <!--Sidebar content-->
            <div>
                <h2>{% trans "Metadata" %}</h2>
                <span class="label label-info">{% trans "Size:" %}</span> {{ size }}<br>
            </div>
            <div>
                <h2>{% trans "Usage" %}</h2>
                <p>{% trans "This document appears on these collections:" %}<p>
            </div>


        </div>
    </div>
</div>


{% endblock %}
