{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <!--<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/ui-darkness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />-->
{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
    <div class="breadcrumb">{% trans "You are here: "%}</div>
    <div class="page-header">
        <h1>{% trans "Document Search" %}</h1>
    </div>
    <form id="search_form" class="well form-search" method="get" action="/taw/search">{% csrf_token %}
        <input type="text" class="input-large search-query" name="query" placeholder="Type something…" onkeyup="$("#search_form").submit();">
        <button id="search_submit" type="submit" class="btn">{% trans "Search" %} </button>
    </form>
    <div id="search_info" class="alert alert-success">
    </div>
    <div id="search_results">


    </div>
    <script type="text/javascript">
        $("#search_form").submit(
        function (){
            //implement on the fly search based on words being typed
            //var values = {};
            //$.each($('#search_form').serializeArray(), function(i, field) {
            //    values[field.name] = field.value;
            //});
            //alert("searching...")
            $.get("/taw/search/", $('#search_form').serialize(), function(resp) {
                output = "";
                var data = resp.results
                var stats = resp.stats
                $("#search_info").html("<strong>"+stats.total_found.toString()+"</strong>"+ " documents found in " + stats.time.toString()+ " seconds")
                for (var i = 0; i < data.length; i++) {
                    var document = data[i];
                    output += '<p><b><a href="/taw/document/' + document['_id'] + '/">' + document['filename'] + '</a></b><br />' + document['excerpt'] + '</p>';

                }
                $("#search_results").html(output);
            });
            return false;
        })
    </script>

{% endblock %}
