{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <!--<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/ui-darkness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />-->
{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
    <div class="breadcrumb">{% trans "You are here: "%}</div>
    <div class="page-header">
        <h1>{% trans "Document Search" %}</h1>
    </div>
    <form action="/taw/search" method="post" class="well form-search">{% csrf_token %}
        <input type="text" class="input-large search-query">
        <button type="submit" class="btn">{% trans "Search" %}</button>
    </form>
{% endblock %}
