<table>
  <tr>
    <th>Number of tokens:</th>
    <td class="right">{{ tokens|length }}</td>
  </tr>
  <tr>
    <th>Number of sentences:</th>
    <td class="right">{{ sentences|length }}</td>
  </tr>
  <tr>
    <th>Average sentence length (in tokens):</th>
    <td class="right">{{ average_sentence_length }}</td>
  </tr>
  <tr>
    <th>Repertoire:</th>
    <td class="right">{{ repertoire }}*100%</td>
  </tr>
  <tr>
    <th>Average sentence repertoire:</th>
    <td class="right">{{ average_sentence_repertoire }} *100%</td>
  </tr>
</table>
