<div align="center">
  <div style="width: 480px; height: 400px" id="plot"></div>
</div>

<div>
  Statistical data:
  <table>
  <tr>
    <th>Mean (token distribution):</th>
    <td class="right">{{ momentum_1 }}</td>
  </tr>
  <tr>
    <th>Variance (token distribution):</th>
    <td class="right">{{ momentum_2 }}</td>
  </tr>
  <tr>
    <th>Skewness (token distribution):</th>
    <td class="right">{{ momentum_3 }}</td>
  </tr>
  <tr>
    <th>Kurtosis (token distribution):</th>
    <td class="right">{{ momentum_4 }}</td>
  </tr>
  </table>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  var aggregate = {};
  var points = {{ values }};
  $.plot($('#plot'), [ { data: points, bars: { show: true } } ]);
});
</script>
