<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PyPLN Cluster Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">PyPLN Cluster Dashboard</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h2>Cluster Load</h2>
          {% for i in nnames %}
          <div class="row">
              <div class="span12">
              <div class="row">
                  <div class="span6" ><p>{{i}}
                    </p><div id="placeholder{{ loop.index0*2 }}" style="width:400px;height:200px;"></div>
                  </div>
                  {% if loop.index0*2+1 > n_nodes %}
                  <div class="span6"><p>{{i}}
                    </p><div id="placeholder{{ loop.index0*2+1 }}" style="width:400px;height:200px;"></div>
                  </div>
                  {% endif %}
              </div>
              </div>
          </div>
          {% endfor %}

        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Recent Jobs</h2>
           <ul class="pager">
               <li>
                    <a href="#">Previous</a>
               </li>
               <li>
                    <a href="#">Next</a>
               </li>
           </ul>
                <div id="joblist">

                </div>


          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Cluster Resources</h2>
            <h4>Nodes</h4>
            <p>{{resources.nodes}}</p>
            <h4>CPUs</h4>
            <p>{{resources.cpus}}</p>
            <h4>Total Memory</h4>
            <p>{{ resources.memory/1048576 }} MB</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Logs</h2>
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-success">Debug</button>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-danger">Error</button>
            </div>
            <ul class="pager">
                <li>
                    <a href="#">Previous</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
                <div id="loglist">

                </div>
            <!--{% for l in logs %}-->
                <!--{% if 'INFO' in l%}-->
                    <!--<li><a class="close" data-dismiss="alert" href="#">×</a>-->
                        <!--<div class="alert alert-info">{{l}}</div></li>-->
                <!--{% elif 'WARNING' in l %}-->
                    <!--<li><a class="close" data-dismiss="alert" href="#">×</a>-->
                        <!--<div class="alert alert-block">{{l}}</div></li>-->
                <!--{% elif 'ERROR' in l %}-->
                <!--<li><a class="close" data-dismiss="alert" href="#">×</a>-->
                    <!--<div class="alert alert-error">{{l}}</div></li>-->
                <!--{% elif 'DEBUG' in l %}-->
                <!--<li><a class="close" data-dismiss="alert" href="#">×</a>-->
                    <!--<div class="alert alert-success">{{l}}></div></li>-->
                <!--{% else %}-->

                <!--<li>{{l}}</li>-->
                <!--{% endif %}-->
            <!--{% endfor %}-->

          <p><a class="btn" href="#">Expanded View &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Leximath 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/webmon.js"></script>
    <script language="javascript" type="text/javascript" src="../static/js/flot/jquery.flot.min.js"></script>
    <!--<script src="../static/js/bootstrap-transition.js"></script>-->
    <!--<script src="../static/js/bootstrap-alert.js"></script>-->
    <!--<script src="../static/js/bootstrap-modal.js"></script>-->
    <!--<script src="../static/js/bootstrap-dropdown.js"></script>-->
    <!--<script src="../static/js/bootstrap-scrollspy.js"></script>-->
    <!--<script src="../static/js/bootstrap-tab.js"></script>-->
    <!--<script src="../static/js/bootstrap-tooltip.js"></script>-->
    <!--<script src="../static/js/bootstrap-popover.js"></script>-->
    <!--<script src="../static/js/bootstrap-button.js"></script>-->
    <!--<script src="../static/js/bootstrap-collapse.js"></script>-->
    <!--<script src="../static/js/bootstrap-carousel.js"></script>-->
    <!--<script src="../static/js/bootstrap-typeahead.js"></script>-->
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        function run(){
            var mon = new webmon.monitor();
            mon.update({{ n_nodes }},[{% for n in nnames %}"{{ n|safe }}",{% endfor %}],1000)
            setTimeout(run, 1000);
        }

        run()
</script>

  </body>
</html>
