{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}


{% block head_title %}{% trans "Document List" %}{% endblock %}
{% block extra_head%}
    <script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.dataTables.css" rel="stylesheet"></link>
{% endblock %}


{% block body %}
<h2>Documents</h2>
    <table id="table_id">
        <thead>
        <tr>
            <th>Document ID</th>
            <th>Name</th>
            <th>Excerpt</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in object_list %}
        <tr>
            <td>doc.mongoid</td>
            <td>nome do arquivo</td>
            <td>etc</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}