{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <!--<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/ui-darkness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />-->
{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
    <div class="breadcrumb">
        {% trans "You are here: " %}
        <a href="{% url taw_home %}">{% trans "Workbench" %}</a> &gt;
    </div>
    <div class="page-header">
        <h1>{% trans "Document Search" %}</h1>
    </div>
    <form id="search_form" class="well form-search" method="get" action="/taw/search">{% csrf_token %}
        <input type="text" class="input-large search-query" name="query" placeholder="Type something…" onkeyup="$('#search_form').submit();">
        <button id="search_submit" type="submit" class="btn">{% trans "Search" %} </button>
    </form>
    <div class="btn-group">
        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">{% trans "With selected" %}</a></li>
            <li><a data-toggle="modal" href="#selectcorpus">{% trans "Add to existing corpus" %}</a></li>
            <li><a href="#">{% trans "Add to new corpus" %}</a></li>
            <li class="divider"></li>
            <li><a href="#">{% trans "Analyze" %}</a></li>
        </ul>
    </div><!-- /btn-group -->
    <div id="search_info" class="alert alert-success">
    </div>
    <form class="well" id="select_docs">
        <div id="search_results">
        </div>
    </form>

    <div class="modal hide fade in" id="selectcorpus" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Select Corpus</h3>
        </div>
        <div class="modal-body">
            <form class="well" id="corpusform">

            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary" onclick="$('#select_docs').submit();">Add</a>
        </div>
    </div>

    <script type="text/javascript">
        $.get("/taw/corporaJSON/",callback=function(resp){
            var corpora = resp;
            content = "<select id='corpora'><option disabled='disabled'>{% trans 'Select one...' %}</option>"
            for (var i=0;i<corpora.length; i++){
                corpus = corpora[i];
                content += '<option name="corpus '+i+'" value="'+corpus.slug+'">'+corpus.name+'</option>'
            }
            content += '</select>'
            $("#corpusform").html(content);
        })
        $("#search_form").submit(
        function (){
            //implement on the fly search based on words being typed

            $.get("/taw/search/", $('#search_form').serialize(), function(resp) {
                output = "";
                var data = resp.results
                var stats = resp.stats
                $("#search_info").html("<strong>"+stats.total_found.toString()+"</strong>"+ " documents found in " + stats.time.toString()+ " seconds")
                for (var i = 0; i < data.length; i++) {
                    var document = data[i];
                    output += '<p><span class="badge badge-info">'+(i+1)+' </span><input type="checkbox" name="option '+i+'" value="'+document['_id']+'"> <b><a href="/taw/document/' + document['_id']+'|'+document['db']+'|'+document['collection'] + '/">' + document['filename'] + '</a></b><br />' + document['excerpt'] + '</p>';

                }
                $("#search_results").html(output);
            });
            return false;
        })
        $("#select_docs").submit(
                function(){
                    var form_data = $("#select_docs").serialize();
                    var corpus = $("#corpusform").value;
                    form_data +="&corpus="+$("select#corpora").val()
                    $.post("/taw/adddocs/",form_data,function(){
                    });
                }
        )
    </script>

{% endblock %}
