{% extends "site_base.html" %}
{% load i18n %}
{% load ifsetting_tag %}
{% block head_title %}{% trans "Document" %} {{ document.slug }}{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/visualizations.js"></script>
{% endblock %}
{% block body %}
  <div class="breadcrumb">
    You are here:
    <a href="{% url home %}">{% trans "Home" %}</a> &gt;
    <a href="{% url document_page document.slug %}">Document {{ document.file_name }}</a>
  </div>

  <h2 class="brand">Document {{ document.file_name }}</h2>
  <div class="row">

    <div class="span8">
      <h2>{% trans "Visualizations" %}</h2>
      <p>
      {% if visualizations %}
      {% trans "Visualizations available:" %}
        <ul>
          {% for visualization in visualizations %}
          <li> <a data-visualization="{{ visualization }}"
                  class="link-visualization"
                  href="{% url document_visualization document.slug visualization %}">{{ visualization }}</a> </li>
          {% endfor %}
        </ul>
        <div id="visualization"></div>
      {% else %}
        {% block trans%}
        There no visualizations available for this document; probably it's on
        our pipeline, processing. Please come back later.
        {% endblock %}
      {% endif %}
      </p>
    </div>

    <div class="span8">
      <h2>{% trans "Metadata" %}</h2>
      <div>
        <span class="label label-info">
          {% trans "Size:" %}
        </span>
        <span class="label">
          {{ document.file_size }}
        </span>
      </div>
      <div>
        <span class="label label-info">
          {% trans "Owner:" %}
        </span>
        <span class="label">
          <a href="{% url profile_detail username=document.owner.username %}">{{ document.owner }}</a>
        </span>
      </div>
      <div>
        <span class="label label-info">
          {% trans "Upload date:" %}
        </span>
        <span class="label">
          {{ document.date_uploaded }}
        </span>
      </div>
      <div>
        <a href="{% url document_download document.slug %}">Download the original file</a>
      </div>

      <h2>{% trans "Corpora" %}</h2>
      <div>
        <ul>
          {% for corpus in document.corpus_set.all %}
          <li><a href="{% url corpus_page corpus_slug=corpus.slug %}">{{ corpus.slug }}</a></li>
          {% endfor %}
          {# #TODO: option to change corpora of this document #}
        </ul>
      </div>


    </div>
  </div>
{% endblock %}
