{% extends "site_base.html" %}
{% load i18n %}
{% load ifsetting_tag %}
{% block head_title %}{% trans "Document" %} {{ document.slug }}{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/visualizations.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script>
{% endblock %}
{% block body %}
  <div class="breadcrumb">
    You are here:
    <a href="{% url home %}">{% trans "Home" %}</a> &gt;
    <a href="{% url document_page document.slug %}">Document {{ document.file_name }}</a>
  </div>

  <h2 class="brand">Document {{ document.file_name }}</h2>
  <div class="row">

    <div class="span10">
      <h3>{% trans "Visualizations" %}</h3>
      <p>
      {% if visualizations %}
        <ul class="tabs" id="visualization-tabs">
          {% for visualization in visualizations %}
          <li> <a data-visualization="{{ visualization.slug }}"
                  class="link-visualization"
                  href="{% url document_visualization document.slug visualization.slug %}">{{ visualization.label }}</a> </li>
          {% endfor %}
        </ul>
        <div id="visualization"></div>
      {% else %}
        {% block trans%}
        There no visualizations available for this document; probably it's on
        our pipeline, processing. Please come back later.
        {% endblock %}
      {% endif %}
      </p>
    </div>

    <div class="span6">
      <h3>{% trans "Metadata" %}</h3>
      <div>
        <span class="label label-info"> {% trans "Size:" %} </span>
        <span class="label"> {{ document.file_size }} </span>
      </div>
      <div>
        <span class="label label-info"> {% trans "Owner:" %} </span>
        <span class="label">
          <a href="{% url profile_detail username=document.owner.username %}">{{ document.owner }}</a>
        </span>
      </div>
      <div>
        <span class="label label-info"> {% trans "Upload date:" %} </span>
        <span class="label"> {{ document.date_uploaded }} </span>
      </div>
      {% for key, value in metadata.items %}
      <div>
        <span class="label label-info"> {{ key }} </span>
        <span class="label"> {{ value }} </span>
      </div>
      {% endfor %}
      <div>
        <a href="{% url document_download document.slug %}">Download the original file</a>
      </div>

      <h4>{% trans "Corpora" %}</h4>
      <div>
        <ul>
          {% for corpus in document.corpus_set.all %}
          <li><a href="{% url corpus_page corpus_slug=corpus.slug %}">{{ corpus.name }}</a></li>
          {% endfor %}
          {# #TODO: option to change corpora of this document #}
        </ul>
      </div>


    </div>
  </div>
{% endblock %}
