{% extends "site_base.html" %}
{% load i18n %}
{% load ifsetting_tag %}
{% block head_title %}{% trans "Document List" %}{% endblock %}
{% block extra_head%}
    <script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.dataTables.css" rel="stylesheet"></link>
{% endblock %}


{% block body %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#table_documents').dataTable();
    } );
</script>
<div class="breadcrumb">
    {% trans "You are here: " %}
    <a href="{% url home %}">{% trans "Main page" %}</a> &gt;
    <a href="{% url document_list %}">{% trans "Document List" %} </a>
</div>
<h2>Document List</h2>

    <table id="table_documents">
        <thead>
        <tr>
            <th>{% trans "Filename" %}</th>
            <th>{% trans "Size" %}</th>
            <th>{% trans "Uploaded on" %}</th>
            <th>{% trans "Owner" %}</th>
            <th>{% trans "Corpora" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
        <tr>
          <td><a href="{% url document_page document_slug=document.slug %}">{{ document.file_name }}</a></td>
          <td>{{ document.file_size }}</td>
          <td>{{ document.date_uploaded }}</td>
          <td><a href="{% url profile_detail username=document.owner.username %}">{{ document.owner }}</a></td>
          <td> {{ document.corpus_set.all|join:", " }}
            {# #TODO: put links on corpora names #}
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
