#visualization {
    width: 580px;
    min-height: 400px;
}
.tabs > li > a {
    background-color: #F8F8F8;
}
.active {
    background-color: #CCCCCC !important;
}

.legal {
    text-align: center !important;
}

label {
    width: 290px !important;
}

#footer {
    margin-top: 10px !important;
}

.right {
    text-align: right;
}
