.classifier { display: inline-block; border: 3px solid transparent; }
.color-classifier-VB  { border: 3px solid #000000 !important; }
.color-classifier-RB  { border: 3px solid #100000 !important; }
.color-classifier-NN  { border: 3px solid #200000 !important; }
.color-classifier-VBD { border: 3px solid #300000 !important; }
.color-classifier-CC  { border: 3px solid #400000 !important; }
.color-classifier-,   { border: 3px solid #500000 !important; }
.color-classifier-VBN { border: 3px solid #600000 !important; }
.color-classifier-TO  { border: 3px solid #700000 !important; }
.color-classifier-.   { border: 3px solid #800000 !important; }
.color-classifier-PRP { border: 3px solid #900000 !important; }
.color-classifier-JJ  { border: 3px solid #A00000 !important; }
.color-classifier-IN  { border: 3px solid #B00000 !important; }
.color-classifier-VBZ { border: 3px solid #C00000 !important; }
.color-classifier-DT  { border: 3px solid #D00000 !important; }
.color-classifier-:   { border: 3px solid #E00000 !important; }
.color-classifier-NNS { border: 3px solid #F00000 !important; }
.color-classifier-NNP { border: 3px solid #F50000 !important; }
