{% extends "site_base.html" %}
{% load i18n %}
{% load ifsetting_tag %}
{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block body_class %}home{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit">
        {% block banner %}
          {% url what_next as what_next_url %}
          {% url acct_login as login_url %}
          {% url acct_signup as signup_url %}
          <h1>{% trans "Welcome to PyPLN" %}</h1>
          <p>
              {% blocktrans %}
              <b>PyPLN</b> is a complete pipeline to create analysis based on corpora.
              By integrating many text mining and natural language processing tools,
              it offers an easy-to-use Web interface where you can manage documents,
              corpora and interact with its analysis/visualizations.
              PyPLN is free software (as in free speech) and can scale very well
              depending on your demand.
              {% endblocktrans %}
          </p>

          <h2>How to use it</h2>
          <p>
            {% blocktrans %}
            You just need to <a href="{{ signup_url }}">create an account</a>,
            <a href="{{ login_url }}">log in</a>, so you can
            create corpora and upload documents.  Your documents will pass
            through our pre-defined pipeline and then you can interact with
            its processed analysis/visualizations.
            {% endblocktrans %}
          </p>

          {% if user.is_authenticated %}
              <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
          {% endif %}
        {% endblock %}
        </div>

        <div class="row">
            <div class="span5">
                <h2>Document analysis</h2>
                <p>As PyPLN's main feature, you can visualize things like
                  part-of-speech tags, word frequency statistics and other
                  analysis in your documents.</p>
            </div>
            <div class="span5">
                <h2>Corpus Analysis</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus.</p>
            </div>
            <div class="span5">
                <h2>Searching</h2>
                <p>PyPLN offers full-text search on your corpora so you can
                  easily find information and then visualize its analysis.</p>
            </div>
        </div>
    </div>
{% endblock %}
