{% extends "site_base.html" %}
{% load i18n %}
{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit">
        {% block banner %}
        {% endblock %}
        </div>

        <div class="row">
            <div class="span5">
            {% block column-1 %}
                <h2>{% trans "Searching" %}</h2>
                {% blocktrans %}
                <p>
                  TAW offers full-text search across multiple collections.
                  But not just any search, our search engine is capable of
                  grasping the nuances o natural language, such as synonyms,
                  word varitions and more.
                </p>
                {% endblocktrans %}
            {% endblock %}
            </div>
            <div class="span5">
            {% block column-2 %}
                <h2>{% trans "Corpus Analysis" %}</h2>
                {% blocktrans %}
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Sed sed viverra dui. Aenean blandit faucibus tincidunt.
                  Phasellus fermentum elit ut erat varius cursus. Nunc posuere
                  mauris sit amet enim congue quis elementum lectus tincidunt.
                  Cras vel tempus metus.
                </p>
                {% endblocktrans %}
            {% endblock %}
            </div>
            <div class="span5">
            {% block column-3 %}
                <h2>{% trans "Document Analysis" %}</h2>
                {% blocktrans %}
                <p>
                  At the document level, offer tools for morpho-syntactic
                  analysis, word frequency statistics, Semantic analysis and
                  search and much more
                </p>
                {% endblocktrans %}
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
